<div class="navigation-buttons">
	<a class="page-links" ui-sref="home">home</a>
	<a class="page-links" ui-sref="portfolio">portfolio</a>
	<a class="page-links" ui-sref="contact">contact</a>
</div>

<div class="page-heading">
	<h1>About</h1>
</div>


<div class="about-box">
	<div id="skills">
		<h4>Technical skills</h4>
	</div>
	<div id="about-me">
		<h4>A little about me</h4>
		<p>My name is Brooke Fox. I am a web developer with a background in mathematics.</p>
	</div>
	<div id="really-like">
		<h4>Other stuff I like</h4>
		<ul>
			<li>Reading about/talking about/watching TV</li>
			<li>Long-form improv & stand-up comedy</li>
			<li>Board games</li>
			<li>Baseball</li>
		</ul>
	</div>
</div>