<div class="navigation-buttons">
	<a class="page-links" ui-sref="home">home</a>
	<a class="page-links" ui-sref="about">about</a>
	<a class="page-links" ui-sref="portfolio">portfolio</a>
</div>

<div class="page-heading">
	<h1>Contact</h1>
</div>

<div class="links-box">
	<a href="http://github.com/brookekfox"><div id="github"></div></a>
	<a href="http://twitter.com/brookekfox"><div id="twitter"></div></a>
	<a href="http://linkedin.com/in/foxbrooke/en"><div id="linkedin"></div></a>
	<a href="mailto:brookekfox@gmail.com?Subject=Hello,%20Brooke!"><div id="email"></div></a>
</div>